python-dotenv==1.1.1
pydantic==2.11.7
PyYAML==6.0.2
langchain==0.3.30
langchain-community==0.3.31
langchain-huggingface==0.3.1
chromadb==1.5.9
sentence-transformers==5.1.2
flashrank==0.2.10
groq==1.0.0
langchain-groq==0.3.8
streamlit==1.50.0
ragas==0.4.3
pymupdf==1.26.5
requests==2.32.5
rank-bm25==0.2.2
fastapi==0.116.1
uvicorn==0.35.0
pytest==8.4.2
neo4j==5.28.4
